*{
  font-family: 'Courier New', Courier, monospace;
}
.wishes-component {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 1000;  
    cursor: pointer;
    transition: all .3s linear;
    border: none;
    outline: none;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 20%;
  }

  .wishes-component:hover{
    transform: scale(1.2);
    background-color: rgb(0, 217, 255);
  }
  
  .wishes-component span {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    text-shadow: 3px 3px 5px black;
  }
  
  .close-modal {
    background-color: #ff5c5c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease;
    width: 50%;
    padding: 8px 0;
  }
  
  .close-modal:hover {
    background-color: #e60000;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
  }
  
  .modal-content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #333;
  }
  
  .wishes-list {
    max-height: 300px;
    overflow-y: auto;
    list-style-type: none;
  }
  .wishes-list::-webkit-scrollbar{
    width: 0;
  }
  
  .wishes-list li {
    margin: 10px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
  }
  
  .pagination button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  body {
    background-color: #121212;
    color: white;
  }
  body::-webkit-scrollbar{
    width: 0;
  }
  