.wish-full-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wish-full-component h2{
    font-weight: bolder;
    text-shadow: 1px 1px 2px crimson;
}
.wish-inputs-button{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.wish-inputs-button input, .wish-inputs-button button{
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    letter-spacing: 1.2px;
    width: 80%;
}
.wish-inputs-button button{
    width: 30%;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: large;
    background-color: #ff5c5c;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all .2s linear;
}
.wish-inputs-button button:hover{
    background-color: rgb(100, 162, 100);
}
.loading {
    animation: load 1.5s linear infinite; 
  }
  
  @keyframes load {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
  }
  
  